@size : 5px;

.row{
  margin-bottom: @size;
}
.my{
  cursor: pointer;
  padding:  @size;
  border:1px solid silver;
  border-radius:@size;

  span{
    display: block;
    float: left;
    text-align: left;
    width: 100%;
  }
  small{
    display: block;
    height: 50px;
  }
}

footer{
  padding-top: @size;
}